{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign Up Page</title>
    <link
      rel="website icon"
      type="png"
      href="{% static 'images/download.png' %}"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    {% for message in messages %}
    <h5>{{message}}</h5>
    {% endfor %}
    <div class="rgt1">
      Already have an account?<a href="login.html">LogIn</a>
    </div>
    <div class="tlc1"><h2>Enter details to Sign Up</h2></div>
    <div class="cont2">
      <form method="post" action="signup">
        {% csrf_token %}
        <label for="name">Enter Full Name:</label><br />
        <input type="text" name="name" placeholder="@entername" /><br />
        <label for="useremail">Enter email:</label><br />
        <input type="email" name="useremail" placeholder="@email" /><br />
        <label for="username">Create username:</label><br />
        <input type="text" name="username" placeholder="@user" value="" /><br />
        <label for="password">Create Password:</label><br />
        <input
          type="password"
          name="password"
          placeholder="@pass123"
          value=""
        /><br />
        <label for="password2">Re-Enter Password:</label><br />
        <input
          type="password"
          name="password2"
          placeholder="@pass123"
          value=""
        /><br />
        <div class="tlc2">
          <input type="submit" />
        </div>
      </form>
    </div>
    <div></div>
  </body>
</html>
