{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'createindex.css' %}" />
    <link rel="stylesheet" href="{% static 'createglobal.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="create-account">
      <img class="create-account-child" alt="" src="Rectangle 13.png" />

      <img class="create-account-item" alt="" src="Rectangle 13.svg" />

      <div class="vector-parent">
        <img class="group-child" alt="" src="Rectangle 23.svg" />

        <div class="create-account-parent">
          <div class="create-account1">Create Account</div>
          <div class="or-continue-with-container">
            <p class="or">OR</p>
            <p class="continue-with">
              <span class="span"> </span>
              <span class="continue-with1">continue with</span>
            </p>
          </div>
          <div class="group-wrapper">
            <div class="google-icon-parent">
              <div class="google-icon">
                <img
                  class="flat-color-iconsgoogle"
                  alt=""
                  src="flat-color-icons:google.svg"
                />
              </div>
              <div class="facebook-icon">
                <img class="vector-icon" alt="" src="Vector.svg" />
              </div>
              <div class="twitter-2-2-wrapper">
                <img class="twitter-2-2" alt="" src="twitter (2) 2.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="group-container" id="groupContainer5">
          <div class="group-frame">
            <div class="group-frame">
              <img class="group-item" alt="" src="Rectangle 25.svg" />

              <img class="group-inner" alt="" src="Rectangle 28.svg" />

              <div class="enter-username">Enter Username</div>
              <img class="rectangle-icon" alt="" src="Rectangle 27.svg" />

              <div class="enter-your-email">Enter your email</div>
              <div class="create-password">Create Password</div>
              <div class="rectangle-div" id="rectangle5"></div>
              <div class="create-your-streamflex-container">
                <b>Create your</b>
                <span class="streamflex-account"> Streamflex account</span>
              </div>
            </div>
          </div>
        </div>
        <div class="by-creating-an-container">
          <p class="continue-with">
            By creating an account, you agree to the Streamflex
          </p>
          <p class="continue-with">
            <span> </span>
            <span class="conditions-of-use">Conditions of Use </span>
            <span class="and">and </span>
            <span class="conditions-of-use">Privacy Policy</span>
            <span class="and">.</span>
          </p>
        </div>
      </div>
      <img class="clapperboard-1-icon" alt="" src="clapperboard 1.png" />
    </div>

    <script>
      var rectangle5 = document.getElementById("rectangle5");
      if (rectangle5) {
        rectangle5.addEventListener("click", function (e) {
          // Add your code here
        });
      }

      var groupContainer5 = document.getElementById("groupContainer5");
      if (groupContainer5) {
        groupContainer5.addEventListener("click", function (e) {
          // Add your code here
        });
      }
    </script>
  </body>
</html>
