{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'global.css' %}" />
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Luckiest Guy:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="home">
      <div class="rectangle"></div>
      <img
        class="web-avengers-icon"
        alt=""
        src="./public/web-avengers@2x.png"
      />

      <div class="home-child"></div>
      <div class="popular-movies">Popular Movies</div>
      <div class="home-item"></div>
      <img class="home-inner" alt="" src="./public/rectangle-8@2x.png" />

      <img class="rectangle-icon" alt="" src="./public/rectangle-12@2x.png" />

      <img class="home-child1" alt="" src="./public/rectangle-9@2x.png" />

      <img class="home-child2" alt="" src="./public/rectangle-11@2x.png" />

      <img
        class="icround-navigate-next-icon"
        alt=""
        src="./public/icroundnavigatenext.svg"
      />

      <div class="group-div">
        <div class="frame-wrapper">
          <div class="tv-shows-parent">
            <div class="tv-shows">TV shows</div>
            <div class="movies">Movies</div>
            <div class="tv-shows">Series</div>
          </div>
        </div>
      </div>
      <img class="home-child3" alt="" src="./public/rectangle-6@2x.png" />

      <img class="home-child4" alt="" src="./public/rectangle-13@2x.png" />

      <img
        class="clapperboard-1-icon"
        alt=""
        src="./public/clapperboard-1@2x.png"
      />

      <div class="group-parent">
        <div class="avenger-parent">
          <b class="avenger">AVENGER</b>
          <div class="end-game">END GAME</div>
        </div>
        <div class="after-the-devastating">
          After the devastating events of Avengers: Infinity War (2018), the
          universe is in ruins. With the help of remaining allies, the Avengers
          assemble once more in order to reverse Thanos' actions and restore
          balance to the universe.
        </div>
        <img class="group-child" alt="" src="./public/group-2.svg" />

        <div class="group-container">
          <div class="rectangle-parent">
            <div class="group-item"></div>
            <div class="watch-now">Watch Now</div>
            <img class="group-inner" alt="" src="./public/polygon-1.svg" />
          </div>
          <div class="rectangle-group">
            <div class="rectangle-div"></div>
            <div class="trailer">Trailer</div>
          </div>
        </div>
      </div>
      <div class="home-inner1">
        <div class="frame-container">
          <div class="evasearch-fill-wrapper">
            <div class="evasearch-fill"></div>
          </div>
        </div>
      </div>
      <div class="rectangle-container">
        <div class="group-child1"></div>
        <div class="group-child2"></div>
        <div class="div">16+</div>
      </div>
      <img class="group-icon" alt="" src="./public/group-126.svg" />

      <div class="frame">
        <div class="sub-container">
          <div class="container">
            <div class="sub-container1">
              <b class="heading">Our Genres</b>
              <div class="indicators-container">
                <div class="shape"></div>
                <div class="shape1"></div>
                <div class="shape1"></div>
                <div class="shape1"></div>
              </div>
            </div>
          </div>
          <div class="container1">
            <div class="sub-container2">
              <b class="heading">Popular Top 10 In Genres</b>
            </div>
            <div class="sub-container3">
              <div class="card">
                <div class="container2">
                  <div class="image-container">
                    <img
                      class="image-icon"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <img
                      class="image-icon"
                      alt=""
                      src="./public/image1@2x.png"
                    />
                  </div>
                  <div class="image-container1">
                    <img
                      class="image-icon"
                      alt=""
                      src="./public/image2@2x.png"
                    />

                    <img
                      class="image-icon"
                      alt=""
                      src="./public/image3@2x.png"
                    />
                  </div>
                  <div class="fade-out-bottom"></div>
                </div>
                <div class="container3">
                  <div class="sub-container4">
                    <div class="container4">
                      <div class="text">Top 10 In</div>
                    </div>
                    <div class="heading2">Action</div>
                  </div>
                  <img class="icon" alt="" src="./public/icon.svg" />
                </div>
              </div>
              <div class="card">
                <div class="container2">
                  <div class="image-container">
                    <img
                      class="image-icon"
                      alt=""
                      src="./public/image4@2x.png"
                    />

                    <img
                      class="image-icon"
                      alt=""
                      src="./public/image5@2x.png"
                    />
                  </div>
                  <div class="image-container1">
                    <img
                      class="image-icon"
                      alt=""
                      src="./public/image6@2x.png"
                    />

                    <img
                      class="image-icon"
                      alt=""
                      src="./public/image7@2x.png"
                    />
                  </div>
                  <div class="fade-out-bottom"></div>
                </div>
                <div class="container3">
                  <div class="sub-container4">
                    <div class="container4">
                      <div class="text">Top 10 In</div>
                    </div>
                    <div class="heading2">Adventure</div>
                  </div>
                  <img class="icon" alt="" src="./public/icon1.svg" />
                </div>
              </div>
              <div class="card">
                <div class="container2">
                  <div class="image-container">
                    <img
                      class="image-icon"
                      alt=""
                      src="./public/image8@2x.png"
                    />

                    <img
                      class="image-icon"
                      alt=""
                      src="./public/image9@2x.png"
                    />
                  </div>
                  <div class="image-container1">
                    <img
                      class="image-icon"
                      alt=""
                      src="./public/image10@2x.png"
                    />

                    <img
                      class="image-icon"
                      alt=""
                      src="./public/image11@2x.png"
                    />
                  </div>
                  <div class="fade-out-bottom"></div>
                </div>
                <div class="container3">
                  <div class="sub-container4">
                    <div class="container4">
                      <div class="text">Top 10 In</div>
                    </div>
                    <div class="heading2">Comedy</div>
                  </div>
                  <img class="icon" alt="" src="./public/icon2.svg" />
                </div>
              </div>
              <div class="card">
                <div class="container2">
                  <div class="image-container">
                    <img
                      class="image-icon"
                      alt=""
                      src="./public/image12@2x.png"
                    />

                    <img
                      class="image-icon"
                      alt=""
                      src="./public/image13@2x.png"
                    />
                  </div>
                  <div class="image-container1">
                    <img
                      class="image-icon"
                      alt=""
                      src="./public/image14@2x.png"
                    />

                    <img
                      class="image-icon"
                      alt=""
                      src="./public/image15@2x.png"
                    />
                  </div>
                  <div class="fade-out-bottom"></div>
                </div>
                <div class="container3">
                  <div class="sub-container4">
                    <div class="container4">
                      <div class="text">Top 10 In</div>
                    </div>
                    <div class="heading2">Drama</div>
                  </div>
                  <img class="icon" alt="" src="./public/icon3.svg" />
                </div>
              </div>
            </div>
          </div>
          <div class="container1">
            <div class="sub-container1">
              <b class="heading">Trending Now</b>
              <div class="indicators-container">
                <div class="shape"></div>
                <div class="shape1"></div>
                <div class="shape1"></div>
                <div class="shape1"></div>
              </div>
            </div>
            <div class="sub-container9">
              <div class="card4">
                <img
                  class="image-icon16"
                  alt=""
                  src="./public/image16@2x.png"
                />

                <div class="container15">
                  <div class="sub-container10">
                    <img class="icon4" alt="" src="./public/icon4.svg" />

                    <div class="text4">1h 30min</div>
                  </div>
                  <div class="sub-container11">
                    <img class="icon4" alt="" src="./public/icon5.svg" />

                    <div class="text4">2K</div>
                  </div>
                </div>
              </div>
              <div class="card4">
                <img
                  class="image-icon16"
                  alt=""
                  src="./public/image17@2x.png"
                />

                <div class="container15">
                  <div class="sub-container10">
                    <img class="icon4" alt="" src="./public/icon6.svg" />

                    <div class="text4">1h 57min</div>
                  </div>
                  <div class="sub-container11">
                    <img class="icon4" alt="" src="./public/icon7.svg" />

                    <div class="text4">1.5K</div>
                  </div>
                </div>
              </div>
              <div class="card4">
                <img
                  class="image-icon16"
                  alt=""
                  src="./public/image18@2x.png"
                />

                <div class="container15">
                  <div class="sub-container10">
                    <img class="icon4" alt="" src="./public/icon8.svg" />

                    <div class="text4">2h 10min</div>
                  </div>
                  <div class="sub-container11">
                    <img class="icon4" alt="" src="./public/icon9.svg" />

                    <div class="text4">1.8K</div>
                  </div>
                </div>
              </div>
              <div class="card4">
                <img
                  class="image-icon16"
                  alt=""
                  src="./public/image19@2x.png"
                />

                <div class="container15">
                  <div class="sub-container10">
                    <img class="icon4" alt="" src="./public/icon10.svg" />

                    <div class="text4">2h 20min</div>
                  </div>
                  <div class="sub-container11">
                    <img class="icon4" alt="" src="./public/icon11.svg" />

                    <div class="text4">3K</div>
                  </div>
                </div>
              </div>
              <div class="card4">
                <img
                  class="image-icon16"
                  alt=""
                  src="./public/image20@2x.png"
                />

                <div class="container15">
                  <div class="sub-container10">
                    <img class="icon4" alt="" src="./public/icon12.svg" />

                    <div class="text4">1h 42min</div>
                  </div>
                  <div class="sub-container11">
                    <img class="icon4" alt="" src="./public/icon13.svg" />

                    <div class="text4">5K</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container1">
            <div class="sub-container1">
              <b class="heading">New Releases</b>
              <div class="indicators-container">
                <div class="shape"></div>
                <div class="shape1"></div>
                <div class="shape1"></div>
                <div class="shape1"></div>
              </div>
            </div>
            <div class="sub-container21">
              <div class="card9">
                <img
                  class="image-icon16"
                  alt=""
                  src="./public/image21@2x.png"
                />

                <div class="container21">
                  <div class="text4">
                    <span>Released at </span>
                    <span class="april-2023">14 April 2023</span>
                  </div>
                </div>
              </div>
              <div class="card9">
                <img
                  class="image-icon16"
                  alt=""
                  src="./public/image22@2x.png"
                />

                <div class="container21">
                  <div class="text4">
                    <span>Released at </span>
                    <span class="april-2023">22 April 2023</span>
                  </div>
                </div>
              </div>
              <div class="card9">
                <img
                  class="image-icon16"
                  alt=""
                  src="./public/image23@2x.png"
                />

                <div class="container21">
                  <div class="text4">
                    <span>Released at </span>
                    <span class="april-2023">13 April 2023</span>
                  </div>
                </div>
              </div>
              <div class="card9">
                <img
                  class="image-icon16"
                  alt=""
                  src="./public/image24@2x.png"
                />

                <div class="container21">
                  <div class="text4">
                    <span>Released at </span>
                    <span class="april-2023">19 April 2023</span>
                  </div>
                </div>
              </div>
              <div class="card9">
                <img
                  class="image-icon16"
                  alt=""
                  src="./public/image25@2x.png"
                />

                <div class="container21">
                  <div class="text4">
                    <span>Released at </span>
                    <span class="april-2023">11 April 2023</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container1">
            <div class="sub-container1">
              <b class="heading">Must - Watch Movies</b>
              <div class="indicators-container">
                <div class="shape"></div>
                <div class="shape1"></div>
                <div class="shape1"></div>
                <div class="shape1"></div>
              </div>
            </div>
            <div class="sub-container23">
              <div class="card14">
                <img
                  class="image-icon16"
                  alt=""
                  src="./public/image26@2x.png"
                />

                <div class="container27">
                  <div class="sub-container24">
                    <img class="icon4" alt="" src="./public/icon14.svg" />

                    <div class="text4">1h 57min</div>
                  </div>
                  <div class="sub-container25">
                    <div class="icon15">
                      <img class="shape-icon" alt="" src="./public/shape.svg" />

                      <img
                        class="shape-icon"
                        alt=""
                        src="./public/shape1.svg"
                      />

                      <img
                        class="shape-icon"
                        alt=""
                        src="./public/shape2.svg"
                      />

                      <img
                        class="shape-icon"
                        alt=""
                        src="./public/shape3.svg"
                      />

                      <div class="shape16">
                        <img
                          class="shape-icon4"
                          alt=""
                          src="./public/shape4.svg"
                        />

                        <img
                          class="shape-icon4"
                          alt=""
                          src="./public/shape5.svg"
                        />
                      </div>
                    </div>
                    <div class="text4">20K</div>
                  </div>
                </div>
              </div>
              <div class="card15">
                <img
                  class="image-icon16"
                  alt=""
                  src="./public/image27@2x.png"
                />

                <div class="container27">
                  <div class="sub-container24">
                    <img class="icon4" alt="" src="./public/icon15.svg" />

                    <div class="text4">1h 30min</div>
                  </div>
                  <div class="sub-container27">
                    <div class="icon15">
                      <img
                        class="shape-icon"
                        alt=""
                        src="./public/shape6.svg"
                      />

                      <img
                        class="shape-icon"
                        alt=""
                        src="./public/shape7.svg"
                      />

                      <img
                        class="shape-icon"
                        alt=""
                        src="./public/shape8.svg"
                      />

                      <img
                        class="shape-icon"
                        alt=""
                        src="./public/shape9.svg"
                      />

                      <img
                        class="shape-icon"
                        alt=""
                        src="./public/shape10.svg"
                      />
                    </div>
                    <div class="text4">20K</div>
                  </div>
                </div>
              </div>
              <div class="card15">
                <img
                  class="image-icon16"
                  alt=""
                  src="./public/image28@2x.png"
                />

                <div class="container27">
                  <div class="sub-container24">
                    <img class="icon4" alt="" src="./public/icon16.svg" />

                    <div class="text4">1h 42min</div>
                  </div>
                  <div class="sub-container27">
                    <div class="icon15">
                      <img
                        class="shape-icon"
                        alt=""
                        src="./public/shape11.svg"
                      />

                      <img
                        class="shape-icon"
                        alt=""
                        src="./public/shape12.svg"
                      />

                      <img
                        class="shape-icon"
                        alt=""
                        src="./public/shape13.svg"
                      />

                      <img
                        class="shape-icon"
                        alt=""
                        src="./public/shape14.svg"
                      />

                      <div class="shape16">
                        <img
                          class="shape-icon4"
                          alt=""
                          src="./public/shape15.svg"
                        />

                        <img
                          class="shape-icon4"
                          alt=""
                          src="./public/shape16.svg"
                        />
                      </div>
                    </div>
                    <div class="text4">20K</div>
                  </div>
                </div>
              </div>
              <div class="card15">
                <img
                  class="image-icon16"
                  alt=""
                  src="./public/image29@2x.png"
                />

                <div class="container27">
                  <div class="sub-container24">
                    <img class="icon4" alt="" src="./public/icon17.svg" />

                    <div class="text4">2h 10min</div>
                  </div>
                  <div class="sub-container27">
                    <div class="icon15">
                      <img
                        class="shape-icon"
                        alt=""
                        src="./public/shape17.svg"
                      />

                      <img
                        class="shape-icon"
                        alt=""
                        src="./public/shape18.svg"
                      />

                      <img
                        class="shape-icon"
                        alt=""
                        src="./public/shape19.svg"
                      />

                      <img
                        class="shape-icon"
                        alt=""
                        src="./public/shape20.svg"
                      />

                      <img
                        class="shape-icon"
                        alt=""
                        src="./public/shape21.svg"
                      />
                    </div>
                    <div class="text4">20K</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rectangle-parent1">
        <div class="group-child3"></div>
        <div class="vector-parent">
          <img class="vector-icon" alt="" src="./public/vector.svg" />

          <img class="vector-icon1" alt="" src="./public/vector1.svg" />

          <img class="vector-icon2" alt="" src="./public/vector2.svg" />

          <div class="english">English</div>
          <img class="vector-icon3" alt="" src="./public/vector3.svg" />

          <div class="group-child4"></div>
        </div>
        <div class="questions-call-001-000-100-container">
          <span class="questions-call">Questions? Call </span>
          <span class="span">001-000-100</span>
        </div>
        <div class="lower">
          <div class="sub-container32">
            <div class="text-button">Home</div>
            <div class="links-container">
              <div class="text-button">Categories</div>
              <div class="text-button">Devices</div>
              <div class="text-button">Pricing</div>
              <div class="text-button">FAQ</div>
            </div>
          </div>
          <div class="sub-container32">
            <div class="heading10">Movies</div>
            <div class="links-container">
              <div class="text-button">Gernes</div>
              <div class="text-button">Trending</div>
              <div class="text-button">New Release</div>
              <div class="text-button">Popular</div>
            </div>
          </div>
          <div class="sub-container32">
            <div class="text-button">Shows</div>
            <div class="links-container">
              <div class="text-button">Gernes</div>
              <div class="text-button">Trending</div>
              <div class="text-button">New Release</div>
              <div class="text-button">Popular</div>
            </div>
          </div>
          <div class="sub-container32">
            <div class="text-button">Support</div>
            <div class="text-button12">Contact Us</div>
          </div>
          <div class="sub-container32">
            <div class="text-button">Subscription</div>
            <div class="links-container">
              <div class="text-button">Plans</div>
              <div class="text-button">Features</div>
            </div>
          </div>
          <div class="sub-container32">
            <div class="heading14">Connect With Us</div>
            <div class="buttons-container">
              <div class="button">
                <img class="icon" alt="" src="./public/icon18.svg" />
              </div>
              <div class="button">
                <img class="icon" alt="" src="./public/icon19.svg" />
              </div>
              <div class="button">
                <img class="icon" alt="" src="./public/icon20.svg" />
              </div>
            </div>
          </div>
        </div>
        <div class="group-parent1">
          <div class="streamflex-parent">
            <div class="streamflex">STREAMFLEX</div>
            <div class="frame1">
              <div class="text-container">Terms of Use</div>
              <div class="line"></div>
              <div class="text-container">Privacy Policy</div>
              <div class="line"></div>
              <div class="text-container">Cookie Policy</div>
            </div>
          </div>
          <div class="copyright-all-rights-reserved-parent">
            <div class="copyright-all-rights">
              Copyright All Rights Reserved
            </div>
            <div class="group-wrapper">
              <div class="image-7-wrapper">
                <img
                  class="image-7-icon"
                  alt=""
                  src="./public/image-7@2x.png"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="streamflex-india">Streamflex India</div>
      </div>
    </div>
     
  </body>
</html>
