{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'landingcssindex.css' %}" />
    <link rel="stylesheet" href="{% static 'landingglobal.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Luckiest Guy:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="landing-page">
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <img class="globe-icon" alt="" src="GLOBE ICON.svg" />

        <div class="english">English</div>
        <img
          class="akar-iconstriangle-down"
          alt=""
          src="akar-icons:triangle-down.svg"
        />
      </div>
      <div class="rectangle-group">
        <div class="group-item"></div>
        <div class="group-inner"></div>
        <div class="get-started">Get Started</div>
        <img class="icons8angle-right" alt="" src="icons8:angle-right.svg" />

        <div class="payment-sta">Payment Sta</div>
        <div class="frame-div"></div>
      </div>
      <img class="landing-page-child" alt="" src="Rectangle 13.png" />

      <img
        class="landing-page-item"
        alt=""
        src="Rectangle 3178.svg"
        data-scroll-to="rectangle"
      />

      <div class="frame"></div>
      <b class="welcome">Welcome</b>
      <div class="watch-the-latest">
        Watch the latest movies, unlimited TV shows, and more.
      </div>
      <div class="landing-page-inner" id="groupContainer3">
        <div class="rectangle-container">
          <div class="rectangle-div"></div>
          <div class="sign-in">Sign In</div>
        </div>
      </div>
      <div class="group-div">
        <div class="group-child"></div>
        <img class="globe-icon" alt="" src="GLOBE ICON.svg" />

        <div class="english">English</div>
        <img
          class="akar-iconstriangle-down"
          alt=""
          src="akar-icons:triangle-down.svg"
        />
      </div>
      <div class="rectangle-parent1">
        <div class="group-child2"></div>
        <div class="log-in">Log in</div>
      </div>
      <div class="ready-to-watch">Ready to watch? Sign in to get started</div>
      <div class="landing-page-child1"></div>
      <b class="watch-everywhere">Watch everywhere.</b>
      <div class="stream-unlimited-movies">
        Stream unlimited movies and TV shows on your phone, tablet, laptop, and
        TV.
      </div>
      <div class="gif-parent">
        <img class="gif-icon" alt="" src="GIF.png" />

        <img class="image-5-icon" alt="" src="image 5.png" />
      </div>
      <div class="rectangle-parent2" id="groupContainer7">
        <div class="group-child3"></div>
        <div class="get-started1">Get started</div>
      </div>
      <div class="stream-blue-1"></div>
      <div class="streamflex-wrapper">
        <div class="streamflex">STREAMFLEX</div>
      </div>
      <div class="rectangle-parent3">
        <div class="group-child4"></div>
        <div class="vector-parent">
          <img class="vector-icon" alt="" src="Vector.svg" />

          <img class="vector-icon1" alt="" src="Vector.svg" />

          <img class="vector-icon2" alt="" src="Vector.svg" />

          <div class="english2">English</div>
          <img class="vector-icon3" alt="" src="Vector.svg" />

          <div class="group-child5"></div>
        </div>
        <div class="questions-call-001-000-100-container">
          <span class="questions-call">Questions? Call </span>
          <span class="span">001-000-100</span>
        </div>
        <div class="streamflex1">STREAMFLEX</div>
        <div class="lower">
          <div class="sub-container">
            <div class="heading">Home</div>
            <div class="links-container">
              <div class="heading">Categories</div>
              <div class="heading">Devices</div>
              <div class="heading">Pricing</div>
              <div class="heading">FAQ</div>
            </div>
          </div>
          <div class="sub-container">
            <div class="heading1">Movies</div>
            <div class="links-container">
              <div class="heading">Gernes</div>
              <div class="heading">Trending</div>
              <div class="heading">New Release</div>
              <div class="heading">Popular</div>
            </div>
          </div>
          <div class="sub-container">
            <div class="heading">Shows</div>
            <div class="links-container">
              <div class="heading">Gernes</div>
              <div class="heading">Trending</div>
              <div class="heading">New Release</div>
              <div class="heading">Popular</div>
            </div>
          </div>
          <div class="sub-container">
            <div class="heading">Support</div>
            <div class="text-button12">Contact Us</div>
          </div>
          <div class="sub-container">
            <div class="heading">Subscription</div>
            <div class="links-container">
              <div class="heading">Plans</div>
              <div class="heading">Features</div>
            </div>
          </div>
          <div class="sub-container">
            <div class="heading5">Connect With Us</div>
            <div class="buttons-container">
              <div class="button">
                <img class="icon" alt="" src="Icon.svg" />
              </div>
              <div class="button">
                <img class="icon" alt="" src="Icon.svg" />
              </div>
              <div class="button">
                <img class="icon" alt="" src="Icon.svg" />
              </div>
            </div>
          </div>
        </div>
        <div class="frame1">
          <div class="text-container">Terms of Use</div>
          <div class="line"></div>
          <div class="text-container">Privacy Policy</div>
          <div class="line"></div>
          <div class="text-container">Cookie Policy</div>
        </div>
      </div>
      <div class="landing-page-inner1">
        <div class="streamflex-india-wrapper">
          <div class="streamflex-india" id="streamflexIndiaText">
            Streamflex India
          </div>
        </div>
      </div>
      <div class="landing-page-inner2">
        <div class="group-wrapper">
          <div class="group-wrapper">
            <div class="copyright-all-rights">
              Copyright All Rights Reserved
            </div>
            <img class="image-7-icon" alt="" src="image 7.png" />
          </div>
        </div>
      </div>
      <img class="clapperboard-1-icon" alt="" src="clapperboard 1.png" />
    </div>

    <script>
      var groupContainer3 = document.getElementById("groupContainer3");
      if (groupContainer3) {
        groupContainer3.addEventListener("click", function (e) {
          // Add your code here
        });
      }

      var groupContainer7 = document.getElementById("groupContainer7");
      if (groupContainer7) {
        groupContainer7.addEventListener("click", function (e) {
          // Add your code here
        });
      }

      var streamflexIndiaText = document.getElementById("streamflexIndiaText");
      if (streamflexIndiaText) {
        streamflexIndiaText.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='rectangle']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
    </script>
  </body>
</html>
