{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'otpindex.css' %}" />
    <link rel="stylesheet" href="{% static 'otpglobal.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="otp">
      <img class="otp-child" alt="" src="Rectangle 2.svg" />

      <img class="otp-item" alt="" src="Rectangle 13.png" />

      <img
        class="otp-child"
        alt=""
        src="Rectangle 13.svg"
        data-scroll-to="rectangle"
      />

      <div class="vector-parent">
        <img class="group-child" alt="" src="Rectangle 23.svg" />

        <div class="verify-your-email">Verify Your Email</div>
        <img class="group-item" alt="" src="Rectangle 25.svg" id="rectangle3" />

        <b class="verify">Verify</b>
        <div class="please-enter-the-container">
          <p class="please-enter-the">Please enter the 4 digit OTP sent to</p>
          <p class="please-enter-the">your Email Address</p>
        </div>
        <div class="group-inner"></div>
        <div class="rectangle-div"></div>
        <div class="group-child1"></div>
        <div class="group-child2"></div>
      </div>
      <div class="didnt-received-container" id="didntReceived">
        <span>Didn’t Received ?</span>
        <span class="span"> </span>
        <span> </span>
        <span class="resend">Resend </span>
      </div>
      <img class="clapperboard-1-icon" alt="" src="clapperboard 1.png" />
    </div>

    <script>
      var rectangle3 = document.getElementById("rectangle3");
      if (rectangle3) {
        rectangle3.addEventListener("click", function (e) {
          // Add your code here
        });
      }

      var didntReceived = document.getElementById("didntReceived");
      if (didntReceived) {
        didntReceived.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='rectangle']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
    </script>
  </body>
</html>
