{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'signin2index.css' %}" />
    <!--<link rel="stylesheet" href="{% static 'signin2global.css' %}" />-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="sign-in-page-2">
      <img class="sign-in-page-2-child" alt="" src="Rectangle 13.png" />

      <img class="sign-in-page-2-item" alt="" src="Rectangle 13.svg" />

      <div class="group-parent">
        <div class="vector-parent">
          <img class="vector-parent" alt="" src="Rectangle 23.svg" />

          <div class="sign-in">Sign In</div>
          <img class="group-item" alt="" src="Rectangle 25.svg" />

          <div class="manoj123gmailcom">manoj123gmail.com</div>
          <img class="group-inner" alt="" src="Rectangle 27.svg" />

          <img class="hide-1-icon" alt="" src="hide 1.png" />

          <div class="div">***********</div>
          <img
            class="rectangle-icon"
            alt=""
            src="Rectangle 25.svg"
            id="rectangle4"
          />

          <b class="continue">Continue</b>
          <div class="incorrect-username-or">
            Incorrect Username or Password
          </div>
          <div class="new-to-streamflex">New to Streamflex ?</div>
          <img class="group-child1" alt="" src="Rectangle 25.svg" />

          <div class="create-your-streamflex">
            Create your Streamflex account
          </div>
          <div class="forget-password">Forget Password ?</div>
          <img class="line-icon" alt="" src="Line 3.svg" />

          <img class="group-child2" alt="" src="Line 4.svg" />
        </div>
        <img class="vector-icon" alt="" src="Vector.svg" />
      </div>
      <img class="clapperboard-1-icon" alt="" src="clapperboard 1.png" />
    </div>

    <script>
      var rectangle4 = document.getElementById("rectangle4");
      if (rectangle4) {
        rectangle4.addEventListener("click", function (e) {
          // Add your code here
        });
      }
    </script>
  </body>
</html>
